/* Estilos globales */
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

Pane {
    -fx-background-color: #1E1E1E; /* Fondo oscuro para contraste */
}

TextField, PasswordField {
    -fx-background-color: #2A2A2A; /* Fondo más oscuro para un diseño sofisticado */
    -fx-border-color: #656ED3; /* Línea principal suave */
    -fx-border-width: 2px; /* Grosor de la línea */
    -fx-text-fill: #D1D1D1; /* Color del texto más claro */
    -fx-font-size: 16px;
    -fx-padding: 10px;
    -fx-prompt-text-fill: #B3B3B3; /* Color del texto placeholder */
    -fx-background-radius: 20px; /* Esquinas redondeadas */
    -fx-border-radius: 20px; /* Borde redondeado */
    -fx-transition: all 0.3s ease; /* Transición suave */
}

TextField:focused, PasswordField:focused {
    -fx-border-color: #D1D1D1; /* Cambiar color al estar enfocado */
    -fx-background-color: #1E1E1E; /* Fondo oscuro al estar enfocado para resaltar */
    -fx-box-shadow: 0 0 8px #656ED3; /* Agregar sombra más suave al enfocar */
}

TextField:hover, PasswordField:hover {
    -fx-border-color: #D1D1D1; /* Cambiar color al estar en hover */
    -fx-box-shadow: 0 0 8px #656ED3; /* Agregar sombra al hover */
}

Button {
    -fx-background-color: #2A2A2A; /* Fondo oscuro contrastado */
    -fx-border-color: #656ED3; /* Línea principal */
    -fx-border-width: 2px; /* Grosor de la línea */
    -fx-text-fill: #D1D1D1; /* Color del texto más claro */
    -fx-font-size: 16px;
    -fx-padding: 10px 20px; /* Padding ajustado */
    -fx-cursor: hand; /* Cambiar el cursor a mano */
    -fx-background-radius: 20px; /* Esquinas redondeadas */
    -fx-border-radius: 20px; /* Borde redondeado */
    -fx-transition: all 0.3s ease; /* Transición suave */
}

Button:hover {
    -fx-background-color: #656ED3; /* Fondo oscuro con tono vibrante */
    -fx-text-fill: #ffffff; /* Color del texto al estar en hover */
    -fx-border-color: #D1D1D1; /* Cambiar color al estar en hover */
    -fx-box-shadow: 0 0 8px #656ED3; /* Agregar sombra al hover */
    transform: scale(1.05); /* Escala al estar en hover */
}

Button:pressed {
    -fx-background-color: #3C3C3C; /* Fondo más oscuro al ser presionado */
    -fx-text-fill: #FFFFFF; /* Texto en blanco */
    transform: scale(0.95); /* Escala al ser presionado */
}

Label {
    -fx-text-fill: #656ED3; /* Color del texto contrastado */
    -fx-font-size: 24px; /* Tamaño de la fuente */
}
